# 7. 데이터 선택(loc)

이름을 이용하여 원하는 row에서 원하는 col 선택

In [7]:
import pandas as pd

df = pd.read_excel('score_excel.xlsx', index_col = '지원번호')

df.loc['1번'] # index 1번에 해당하는 전체 데이터
df.loc['1번', '국어'] # index 1번에 해당하는 국어 데이터
df.loc[['1번', '2번'], '영어'] # index 1번, 2번에 해당하는 영어 데이터
df.loc[['1번', '2번'], ['영어', '수학']] # index 1번, 2번에 해당하는 영어, 수학 데이터
df.loc['1번':'5번', '국어':'사회'] # index 1번부터 5번까지, 국어부터 사회까지 데이터

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10