# 8. 데이터 선택(iloc)

위치를 이용하여 원하는 row에서 원하는 col 선택

In [4]:
import pandas as pd

df = pd.read_excel('score_excel.xlsx', index_col = '지원번호')

df.iloc[0] # 0번째 위치의 데이터
df.iloc[0:5] # 0 ~ 4번째 위치의 데이터
df.iloc[0, 1] # 0번째 위치의 1번째(학교) 데이터
df.iloc[[0, 1], 2] # 0, 1번째 위치의 학생의 2번째(키) 데이터
df.iloc[[0, 1], [3, 4]] # 0, 1번째 위치의 학생의 3, 4번째 데이터
df.iloc[0:5, 3:8] # 0 ~ 4번째 위치의 학생의 3 ~ 7번째 데이터

      국어  영어   수학  과학  사회
지원번호
1번    90  85  100  95  85
2번    40  35   50  55  25
3번    80  75   70  80  75
4번    40  60   70  75  80
5번    15  20   10  35  10